*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #1e742d;
    --color-secondary: #ffb01d;
    --color-white: #ffffff;
    --color-shadow: #dddddd;
    --color-background: #fbfbff;
    --color-font: #4e8663;
}

body, input, button{
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: var(--color-background);
}